{% extends "bootstrap/base.html" %}

{% block title %}
Profile
{% endblock %}

{% block content %}
    <nav class="navbar navbar-inverse navbar-fixed-top nav-dark bg-dark">
         <div class="container">
              <ul class="nav navbar-nav">
             <li><a href="{{ url_for('dashboard') }}">Back</a></li>
             </ul>
            </div>
         </div>
    </nav>
            <table class="table table-striped">
                <tr>
              <th>Firstname</th>
              <th>Lastname</th>
              <th>Course</th>
              <th>StudentID</th>

          </tr>

                <tr>
                    <td>{{student['Firstname']}}</td>
                    <td>{{student['Lastname']}}</td>
                    <td>{{student['Course']}}</td>
                    <td>{{student['StudentID']}}</td>
                </tr>

            </table>

{% endblock %}
